.weight{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: -5%;
    left: 0%;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 10;
}


@media  (min-width: 400px) and (max-width: 769px){
    .weight{
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .weight{
        font-size: 8px;
    }
}