.card{
  max-width: 140px;
  z-index: 3;

}



/*.cardContainer{*/
/*    max-width: 200px;*/
/*    width: 20%;*/
/*    height: 100%;*/
/*}*/

.animatePlayerCard{
    animation: appearPlayer 1s ease-in-out;
}
.animateDealerCard{
    animation: appearDealer 1s ease-in-out;
}

@keyframes appearPlayer {
    0%{
        transform: translate(-500%,-45%);
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
      transform: translate(0,0);

    }
}

@keyframes appearDealer {
    0%{
        transform: translate(-500%,45%);


    }
    100%{
        transform: translate(0,0);

    }
}

