.language{
    background-color: black;
    border-radius: 50%;
    font-size: 18px;
    border:none;
    color: white;
    padding: 5px;
    cursor: pointer;

}

.language:hover{
    filter: brightness(1.2);
}

@media (max-width: 400px) {
 .language{
     font-size: 14px;
 }
}